= situation.name
%span.small= link_to "edit", edit_situation_path(situation)
%span.small= link_to "remove", { :controller => "situations", :action => "destroy", :id => situation.id }, :confirm => "Are you sure?", :method => "delete"
