<%= javascript_tag do %>
  $(document).ready(function() {
  Shuff.init(<%= @tasks.to_json.html_safe %>, <%= @contexts.to_json.html_safe %>);
    });
<% end -%>


<div class="row" id="task-panel">
  <hr>
  <div class="span3">
    <h1 id="task-name">Doing nothing!</h1>
    <br />
    <div id="rotatescroll">
      <div class="viewport">
        <div class="overview">
          <p>Start time: <span id="timer-start"></span></p>
          <p id="timer-time">0:00</p>
          <p>End time: <span id="timer-end"></span></p>
        </div>
      </div>
      <div class="dot"></div>
      <div class="overlay"></div>
      <div class="thumb"></div>
    </div>
  </div>

  <div class="span9">
    <div id="task"></div>
  </div>
</div>


<div class="row">
  <hr>
  <div class="span3">
    <div id="daily-chart" style="width:270px;height:300px;" data-pts=""></div>

    <div id="all-tasks"></div>
  </div>

  <div class="span9">
    <div id="context-chooser" class="well">
    </div>

    <div id="context" class="row"></div>
  </div>
</div>
