<select name="display_type">
  <option value="logs">Log chart</option>
  <option value="values">Values chart</option>
  <option value="binary">Binary</option>
  <option value="last_value">Last value</option>
  <option value="todo">Action list</option>
  <option value="random">Random action</option>
</select>
