<h2 id="task-title">Task title</h2>

<div class="row">
  <div class="span3">
    Timer stuff
  </div>

  <div class="span9">
    <p id="task-description">Task description</p>

    <h3>Actions</h3>

    <div id="microtasks">
    </div>

    Add action
  </div>
</div>





