<form class="form-inline" id="task-finish-form">
  <input type="text" id="log-value" class="input-small" placeholder="New value">
  <input type="submit" class="btn" value="Finished!">
</form>

<p id="task-description">Task description</p>


<div id="microtasks">
</div>

<form class="form-inline" id="create_microtask">
  <input type="text" name="microtask_name">
  <input type="submit" class="btn" value="Add action">
</form>

<div>
  <a href="#" class="btn btn-mini edit">Edit <i class="icon-pencil"></i></a>
  <a href="#" class="btn btn-mini delete">Delete <i class="icon-trash"></i></a>
</div>

