<form class="form-inline" id="task-finish-form">
  <input type="text" id="log-value" class="input-small" placeholder="New value">
  <input type="submit" class="btn" value="Finished!">
</form>

<p id="task-description">Task description</p>

<div id="microtasks">
</div>

Add action



