%p.q
  What is Shuff?

%p.a
  Shuff manages all of your mini-routines by presenting them to
  you at random, with timeboxing, and it gives you points for doing
  them. If that doesn't make much sense, keep reading.

%p.q
  What is a task?

%p.a
  A task is another name for one of these mini-routines. Examples include
  'read the news', 'prepare for cooking', 'work on my coding project'. They're
  things that don't really fit on your to-do list because they're periodic, but
  they aren't things you want to schedule either. I bet you have a lot of them!

%p.a 
  One reason to do tasks with Shuff is that you can avoid the paralysis of
  analysis that can happen when you're trying to decide what to do next. Shuff
  tells you exactly what to do in a big bold font, and exactly how long you
  have to do it. You can even be nice to yourself and put some fun things in
  the mix.

%p.q
  What is a context?

%p.a
  A context is just a way to tell Shuff when to present a task to you. For
  example, you may have contexts for when you are at work, on the go, or at
  home. Or contexts for when you want to relax or work hard.

%p.q
  What is a role? 

%p.a
  Roles are optional, but they are coolest part of Shuff. When you add a role
  and a number of points to a task, you'll get those added up every time you
  click 'Finish' for a task. I use roles to represent different types of work
  that I do, such as research, household chores, etc., which lets me know when
  things are off-balance. But you can use roles however you'd like. Other ideas
  could include connecting your tasks to core values such as <a href="http://psychologyofwellbeing.com/201105/on-physical-flourishing.html">PERMA</a> 
  or adding experience points to different traits (+1 strength for going to gym). 

%p.q
  What are points?

%p.a
  Points let you track what you've done with Shuff so that you can compare
  different roles and see changes over time. For example, here's my chart:

%p
  %img{:src => '/assets/chart.png'}

%p.a
  I try to use 1 point for single actions that usually take from 5 to 10
  minutes, 2 points for longer activites, and 3 points for marathons. This
  somewhat logarithmic scale rewards working in smaller chunks of time, which
  improves focus. It doesn't matter how you do it as long as you are consistent.

%p.q 
  Why track points and not time directly?

%p.a
  I find that trying to keep time accurately can be a pain, and points are
  sufficient for the information I want to know. If you want or need to track
  time directly, there are many alternative options available. Just search for
  'time tracking'.

%p.q
  What is timeboxing? Or, why do I need to set a time for each task?

%p.a
  Timeboxing is an extremely effective way to focus. <a
  href="http://www.stevepavlina.com/blog/2004/10/timeboxing/">Steve
  Palina's article</a> is one of many that explains this better than I can.

%p.q
  What are actions?
 
%p.a 
  Actions are like one-time to-do items for a task. As soon as you check off an
  action, it will be saved as completed and go away next time you see the task.

%p.q
  What are some examples of using Shuff?

%ul.a
  %li
    %strong 
      Reading task:
    Keep a list of books you are currently reading in the actions.  Read from
    one of these while the timer runs.

  %li
    %strong 
      News task:
    Keep links to each of your favorite news sites and read before the time is 
    up. I actually use a link to the 
    %a{:href => "http://smooth-galaxy-737.heroku.com"}
      old version of Shuff 
    for this to randomly shuffle sites. I have a regular news task and a music
    updates task.
    
  %li
    %strong
      Inbox zero task:
    Clear out your inbox! I only need about 12 minutes (three 4-minute tasks) per day 
    with my email. Use in conjuction with the next task.

  %li
    %strong
      Miscellaneous actions task:
    It's nice to have a default place to put the little things you need to do. 
    Use the actions for small tasks such as following up on an email (If you
    use a web-based mail client, put a link to the email in your action). I
    keep a bunch of similar tasks with themed mini-actions. One point
    per action!

  %li
    %strong 
      Break task:
    Add breaks into your work context by putting a link (you can copy it
    from the home page) to a "break" context that has fun stuff. You can have
    a fixed length break by opening that in a new window, or you can have a 
    random length break by putting a "Return to work" task in your break. :)

  %li
    %strong 
      Planning task:
    Be sure to plan your day so that you don't miss any deadlines due to luck
    of the draw (or excessive skipping, for you less disciplined Shuffers). I
    keep a 'Plan' task that gives me some time to step back and make sure I'm on
    track.

  %li
    %strong 
      Brainstorm task:
    This task has two phases. In the "diverge" phase, write down as many ideas 
    as you can as actions during the time limit. Next time, you'll do the
    "converge" phase: Find common themes in those ideas and rewrite them 
    coherently (especially as actions to follow up on in other tasks!)


  %li
    What else can you think of? Let me know!
 
%br
%br
%br
%br
%br
%br
%br
