/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

header {
  background: #444;
  padding: 0 150px 0 150px;
}

header h1 {
  display: inline;
  padding-right: 1em;
}

header h1 a {
  color: white;
}

header h1 a:visited {
  color: white;
}

header h1 a:hover {
  color: white;
  text-decoration: none;
}


nav { 
  display: inline;
}

nav ul {
  display: inline;
}
nav ul li {
  display: inline;
}

nav a {
  color: #ddd;
  font-size: .8em;
}

nav a:hover {
  color: #fff;
}

#main {
  padding-top: 20px;
}



