// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.role { 
  color: white;
  background: #6699ff;
  font-size: 60%;
  padding: 2px;
}

.time {
  font-size: 60%;
}

#new_task { 
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
  width: 300px;
}
