// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.role { 
  color: white;
  background: #6699ff;
  font-size: 60%;
  padding: 2px;
}

.context { 
  color: white;
  background: #ff9966;
  font-size: 60%;
  margin-right: 2px;
}

.small {
  font-size: 80%;
}

.new-item { 
  background-color: #f8f8f8;
  border: 1px solid #efefef;
  padding-top: 1em;
  margin-bottom: 1em;

  form {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .actions {
    margin-bottom: 0px;
  }
}

table {
  width: auto;
}

table td {
  line-height: auto;
  padding: 0;
  margin: 0;
  border: 0px none;
}

#shuffler {
  padding: .5em;
  background-color: lighten(#0069D6, 50%);

  a {
    background-color: #0069D6;
    color: white;
    padding: .2em;
  }

  a:hover {
    background-color: lighten(#0069D6, 25%);
  }


}

p.q {
  padding-top: 1em;
  font-weight: bold;
}

ul.a li {
  color: black;
}

