// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin rounded-corners($amount) {
  -moz-border-radius: $amount;
  -webkit-border-radius: $amount;
  border-radius: $amount;
}

#timer {
  font-size: 400%;
  padding-top: 35px;
  text-align: center;
}

#timeviz-box {
  display: inline;
  height: 1em;
}

#timeviz-fill {
  height: 1em;
  background: #cfc;
}

#time-control {
  float: right;
}


#task-show {
  background: #f8f8f8;

  #task-name {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  h2 {
    font-size: 3em;
  }

  #points {
    padding-top: 30px;
    text-align: right;
  }
}


#shuffler-task {
  padding: .5em;
//  background-color: lighten(#0069D6, 50%);
}

#actions form {
  display: inline;
}




.task_role {
  font-size: 1.2em;
  color: white;
  background: #6699ff;
  text-align: center;
  padding: 5px;
  line-height: 30px;
  margin-right: 5px;
  @include rounded-corners(5px);
}

.finish_btn input.btn {
  width: 80px;
}

.skip_btn input.btn {
  float: right;
  width: 70px;
}

.repeat_btn input.btn {
  margin-top: 10px;
  width: 160px;
}




