// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin rounded-corners($amount) {
  -moz-border-radius: $amount;
  -webkit-border-radius: $amount;
  border-radius: $amount;
}

#timer {
  font-size: 400%;
  padding-top: 35px;
  text-align: center;
}

#timeviz-box {
  margin-top: -1.5em;
  height: 2em;
}

#timeviz-fill {
  height: 2em;
  background: #cfc;
}

#task-name {
  background: #f8f8f8;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  h2 {
    font-size: 3em;
  }
}

#shuffler-task {
  padding: .5em;
//  background-color: lighten(#0069D6, 50%);
}

#actions form {
  display: inline;
}


#points {
  padding: 10px;
}
.task_role {
  font-size: 1.5em;
  color: white;
  background: #6699ff;
  text-align: center;
  padding: 5px;
  margin: 5px;
  @include rounded-corners(5px);
}

