// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin rounded-corners($amount) {
  -moz-border-radius: $amount;
  -webkit-border-radius: $amount;
  border-radius: $amount;
}

#timer {
  font-size: 48px;
  line-height: 48px;

  text-align: center;
  display: inline-block;
  width: 120px;

  &.over {
    color: red;
  }
}

#timeviz-box {
  display: inline;
  height: 1em;
}

#timeviz-fill {
  height: 1em;
  background: #cfc;
}

#time-control {
  display: inline-block;
  text-align: right;
  width: 30px;
}


#task-show {
  background: #f8f8f8;

  #task-name {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  h2 {
    font-size: 3em;
  }

  #points {
    padding-top: 30px;
    text-align: right;
  }
}


#shuffler-task {
  padding: .5em;
//  background-color: lighten(#0069D6, 50%);
}

#actions form {
  display: inline;
}




.task_role {
  font-size: 1.2em;
  color: white;
  background: #6699ff;
  text-align: center;
  padding: 5px;
  line-height: 30px;
  margin-right: 5px;
  @include rounded-corners(5px);
}

.finish_btn input.btn {
  width: 80px;
}

.skip_btn input.btn {
  float: right;
  width: 70px;
}

.repeat_btn input.btn {
  margin-top: 10px;
  width: 160px;
}

.mini-chart {
  display: inline-block;
}

.bignum {
  color: darken(#edc240, 30%);
  font-size: 12px;
}
.bigcheck {
  color: darken(#edc240, 30%);
  font-size: 60px;
  line-height: 60px;
}

a.dash-task {
  display: block;
  &:hover {
    background-color: #f8f8f8;
    text-decoration: none;
  }
}

#rotatescroll { height:150px; position:relative; width:150px; }
#rotatescroll .viewport{ height:150px; position: relative; margin:0 auto;
overflow:hidden; width:150px; }
#rotatescroll .overview { position: absolute; width: 150px; list-style: none;
margin: 0; padding: 30px;  left: 0; top: 0; }
#rotatescroll .overview #timer-time { font-size: 25px; }
#rotatescroll .overlay {background:url(bg-rotatescroll.png) no-repeat 0 0;
position: absolute; left: 0; top: 0; height:150px; width:150px; }
#rotatescroll .thumb { background:url(bg-thumb.png) no-repeat 0 0; position: absolute; top: -3px; cursor: pointer; left: 137px; width: 13px; z-index: 200;  height: 13px; }
#rotatescroll .dot { background:url(bg-dot2.png) no-repeat 0 0; display: none; height: 12px; width: 12px; position: absolute; left: 155px; top: 3px; z-index: 100; }
#rotatescroll .dot span { display: none; }

#context-options {
  a {
    padding: 2px;
  }

  .selected-context {
    color: white;
    background-color: blue;
  }
}


